---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sebastian Kimberk</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://use.typekit.net/vel4bvl.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <link rel="stylesheet" href="{{ "/assets/home/styles.css" | relative_url }}">
</head>
<body>
  <div class="sebastian"><span>sebastian</span></div>
  <div class="container">
    <h1>About me:</h1>
    <ul>
      <li>Full name: Sebastian Kimberk</li>
      <li>Location: Cambridge, MA</li>
      <li>Likes: Hiking &amp; Programming</li>
      <li>Github: <a href="https://github.com/skimberk" target="_blank">https://github.com/skimberk</a></li>
    </ul>

    <h1>Blog posts:</h1>
    <ul>
      {%- for post in posts -%}
      <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
      {%- endfor -%}
      <!-- <li><a href="javascript:void(0)" target="_blank">Adventures in Costa Rica</a></li>
      <li><a href="javascript:void(0)" target="_blank">Finite State Automata</a></li>
      <li><a href="javascript:void(0)" target="_blank">Building a Bicycle</a></li>
      <li><a href="javascript:void(0)" target="_blank">Syringe Art</a></li>
      <li><a href="javascript:void(0)" target="_blank">Learning to Knit</a></li>
      <li><a href="javascript:void(0)" target="_blank">Playing with Rainbows</a></li>
      <li><a href="javascript:void(0)" target="_blank">Staying on Task</a></li>
      <li><a href="javascript:void(0)" target="_blank">Starting a Blog</a></li> -->
    </ul>
  </div>

  <script src="{{ "/assets/home/main.js" | relative_url }}"></script>
</body>
</html>
